---
layout: ""
page_title: "Google Workspace Provider"
subcategory: ""
description: |-
The Google Workspace provider provides resources to interact with Google Workspace.
---

# Google Workspace Provider

  The Google Workspace provider provides resources to interact with Google Workspace.

## Example Usage

{{tffile "examples/provider/provider-user-impersonation.tf"}}

{{tffile "examples/provider/provider-service-account-with-admin-roles.tf"}}

## Authorization
This provider uses [Admin SDK](https://developers.google.com/admin-sdk) API methods to manage resources on a Workspace customer domain. There are multiple ways to set up proper authorization for a service account:

* Enable [domain-wide delegation](#using-domain-wide-delegation) to impersonate a user that has super administrator privileges. You cannot directly grant super administrator privileges to service accounts.

* Assign [specific administrator roles](https://support.google.com/a/answer/9807615?hl=en&ref_topic=9832445) directly to the service account.

## Authentication

### Using Domain-Wide Delegation

#### Creating a Service Account and Credentials

Terraform uses a GCP service account to manage resources created by the provider. To create the service account and generate a service account key:

1. Follow the instructions in the [create service account and credentials documentation](https://developers.google.com/admin-sdk/directory/v1/guides/delegation#create_the_service_account_and_credentials).
2. Save the json file containing your service account key credentials locally and set the `GOOGLEWORKSPACE_CREDENTIALS` environment variable to the path of that file. Terraform will now use that key for authentication.
   * Other environment variable options include: `GOOGLEWORKSPACE_CLOUD_KEYFILE_JSON` or `GOOGLE_CREDENTIALS` (>= 0.2.0)

#### Configuring the Service Account's granted scopes in Google Workspace

To access user data on a Google Workspace domain, the service account that you created needs to be granted access
by a super administrator for the domain. Follow the instructions in the
[delegate domain-wide authority documentation](https://developers.google.com/admin-sdk/directory/v1/guides/delegation#delegate_domain-wide_authority_to_your_service_account).

* Note: The Oauth scopes granted to your service account must match, or be a superset, of the `oauth_scopes` granted to
the `googleworkspace` provider.

More information about scopes is below.

#### Configuring scopes requested by the provider

The provider can be configured with an `oauth_scopes` field containing a list of requested scopes. If `oauth_scopes` is _not_ set in the provider configuration, the provider will fall back to a default list of scopes, which are all the scopes needed to manage resources that can be provisioned by the provider ([see default scopes for v0.6.0 here](https://github.com/hashicorp/terraform-provider-googleworkspace/blob/v0.6.0/internal/provider/provider.go#L17-L30)). If default scopes are used, the service account needs to be granted all of those scopes in Google Workspace.

The scopes declared in the provider's configuration need to match, or be a subset of, the scopes granted to the service account. If a provider is configured with scopes the service account isn't granted to use, the provider will receive a `401 Unauthorized` response when it requests an access token.

->It's recommended to include `oath_scopes` in your provider configuration to make the requested scopes explicit and easier to debug issues.


#### Impersonating a Google Workspace User

Only users with access to the Admin APIs can access the Admin SDK Directory API, therefore your service account needs to impersonate one of those users to access the Admin SDK Directory API. This user's email
must be set in the environment variable `GOOGLEWORKSPACE_IMPERSONATED_USER_EMAIL` or in the `impersonated_user_email` attribute in the provider. Additionally, the user must have logged in at least once and accepted the Google Workspace Terms of Service.

#### Keyless Domain-Wide Delegation with Application Default Credentials

You can use Application Default Credentials (ADC) or an `access_token` as the source credential and impersonate a domain-wide delegation service account without creating a service account key. Enable the IAM Service Account Credentials API, grant the source principal `roles/iam.serviceAccountTokenCreator` on the target service account, and configure both `service_account` and `impersonated_user_email`.

For local use with gcloud, create user ADC with `gcloud auth application-default login`. Private-keyless ADC such as Workload Identity Federation uses the same provider configuration. An explicitly configured `access_token` also uses this impersonation path and continues to take precedence over ADC.

{{tffile "examples/provider/provider-adc-impersonation.tf"}}

ADC quota project settings, including `GOOGLE_CLOUD_QUOTA_PROJECT`, are forwarded to the IAM Service Account Credentials API. If a quota project is set, the source principal needs `serviceusage.services.use` on `PROJECT_ID`. With the impersonation library used by this provider, the target service account also needs `serviceusage.services.use` on `PROJECT_ID` when the source credential is a user credential or a quota project is used; `roles/serviceusage.serviceUsageConsumer` provides that permission.

If you intentionally call the Admin SDK directly as the ADC principal, omit both `service_account` and `impersonated_user_email`. Setting `impersonated_user_email` with private-keyless ADC but without `service_account` is rejected because those credentials cannot apply a domain-wide delegation subject directly. Service account key ADC continues to use its private key for domain-wide delegation and ignores `service_account`.

### Using Specific Administrator Roles

You do not need to set up domain-wide delegation if you are granting more specific administrator roles to the service account. If the Terraform pipeline execution environment provides an appropriate token as Application Default Credentials (ADC), you can use the provider without any further setup.

To do this it's recommended that you create a custom admin role(s) with the Admin API privileges you need, as [pre-built administrator roles](https://support.google.com/a/answer/2405986) might not cover your use case.

~> Some resources controlled via this provider can only be managed by a Super Admin, so user impersonation is necessary in those cases. For instance, [Admin Roles can only be managed via the console or API by a Super Admin](https://support.google.com/a/answer/2406043?hl=en). Also, access to some API endpoints may not be possible to grant as privileges in custom roles.

When using gcloud locally, you can provide the required scopes for ADC login by adding the `--scopes` parameter to [`gcloud auth application-default login`](https://cloud.google.com/sdk/gcloud/reference/auth/application-default/login). For example, you can [provide additional scopes](https://cloud.google.com/sdk/gcloud/reference/beta/compute/instances/set-scopes) on Compute Engine. You can do this to configure access for both service accounts and end users.

```terraform
provider "googleworkspace" {
  customer_id = "A01b123xz"
}
```

The approach outlined above does not work on Cloud Build because it does not (yet) support specifying additional scopes for service account tokens accessible during builds. Other pipeline setups use the `google_service_account_access_token` to impersonate a service account. This allows them to use a single identity regardless of who is initiating the execution. For these cases, set the `access_token` parameter to the appropriate credentials.

```terraform
provider "googleworkspace" {
  customer_id  = "A01b123xz"
  access_token = data.google_service_account_access_token.default.access_token
}
```

You can also provide an exported service account key in the `credentials` parameter without specifying an `impersonated_user_email`.

{{ .SchemaMarkdown | trimspace }}
